@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,600,700");
*, *::after, *::before {
  box-sizing: border-box; }

body {
  margin: 0;
  color: #848484;
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: 400; }

.wrapper {
  width: 1180px;
  margin: 0 auto; }

.head-line {
  height: 10px;
  background-color: #2ecc71;
  margin: 0;
  border: 0; }

header {
  background-image: url(../images/headerbg.png);
  background-position: center;
  background-size: cover; }
  header .header-block {
    padding: 177px 0 167px 115px; }
  header .wrapper {
    position: relative; }
  header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 36px; }
    header h1 span {
      color: #2ecc71; }
  header h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 26px;
    width: 453px; }
  header .os-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    width: 188px;
    justify-content: space-between; }
    header .os-list li {
      width: 52px;
      height: 52px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .os-list li:hover {
        background-color: #2ecc71; }
  header .header-img-block {
    background-image: url(../images/hand.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 999;
    right: 50px;
    bottom: 0;
    width: 439px;
    height: 505px; }
    header .header-img-block img {
      position: absolute;
      top: 68px;
      left: 67px;
      animation: show 5s; }
@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.our-advantages .wrapper {
  padding: 60px 0;
  display: flex;
  justify-content: space-between; }
.our-advantages .item {
  width: 313px;
  display: flex;
  flex-direction: column;
  align-items: center; }
.our-advantages .img {
  width: 98px;
  height: 98px;
  background-color: #2ecc71;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
.our-advantages .title {
  color: #222222;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0; }
.our-advantages p {
  text-align: center;
  margin: 0; }

.subscribe {
  background-color: #e3e3e3; }
  .subscribe .wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-between; }
  .subscribe .mini-form {
    width: 534px; }
  .subscribe .title {
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0; }
  .subscribe p {
    margin: 25px 0;
    line-height: 26px; }
  .subscribe form {
    display: flex; }
  .subscribe input {
    width: 305px;
    height: 56px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    padding-left: 26px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    border-right: 0; }
  .subscribe button {
    width: 141px;
    height: 56px;
    background-color: #2ecc71;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    border: 1px solid #c8c8c8;
    border-left: 0; }

.comment-block .all-users {
  margin-top: 176px;
  position: relative;
  display: flex;
  justify-content: center; }
.comment-block .user {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px; }
  .comment-block .user .name {
    display: none;
    position: absolute;
    top: -30px;
    color: #2e2e2e;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    left: 46%; }
  .comment-block .user .text {
    display: none;
    position: absolute;
    top: -100px;
    left: 180px;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    margin: 0;
    width: 825px; }
.comment-block .user.active .name {
  display: block; }
.comment-block .user.active .text {
  display: block; }

.get-in-touch {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .get-in-touch .social-title {
    color: #000000;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin: 0; }
  .get-in-touch .subtitle {
    color: #848484;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 400;
    margin: 22px 0; }
  .get-in-touch .social-media {
    display: flex;
    list-style: none;
    width: 254px;
    justify-content: space-between;
    padding: 0;
    margin: 0; }
    .get-in-touch .social-media li {
      width: 34px;
      height: 34px;
      background-color: #c5c5c5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .get-in-touch .social-media li:hover {
        background-color: #2ecc71; }

footer {
  background-color: #e3e3e3;
  padding: 60px 0;
  display: flex;
  justify-content: center; }
  footer nav {
    width: 544px;
    display: flex;
    justify-content: space-between; }
  footer a {
    color: #848484;
    text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
